.user-table {
  margin-top: 10px;
  margin-inline: auto;
  width: 50%;
  border-spacing: 0 15px;
  border-collapse: separate;
}

td {
  background-color: #7070B3;
  padding: 20px;
  color: #fff;
  font-size: x-large;
  border-style: solid;
  border-width: 5px;
  border-color: #7070B3;

  width: 33%;
  height: 100%;
}

td:first-child {
  border-radius: 10px 0 0 10px;
}

td:last-child {
  border-radius: 0 10px 10px 0;
}

.promote-button{
  position: relative; 
  left: 30%; 
  top: 10%;
  cursor: pointer;
  transition-duration: 0.4s;
  background-color: #7070B3; 
  color: white; 
  border: 2px solid white;
  border-radius: 5px;
  min-width: 60%;
}

.promote-button:hover {
  background-color: white; /* Green */
  color: black;
}
