.user-table {
  margin-top: 50px;
  margin-inline: auto;
  width: 50%;
  border-spacing: 0 15px;
  border-collapse: separate;
}

td {
  background-color: #7070B3;
  padding: 20px;
  color: #fff;
  font-size: x-large;
  border-style: solid;
  border-width: 5px;
  border-color: #7070B3;
}

td:first-child {
  border-radius: 10px 0 0 10px;
}

td:last-child {
  border-radius: 0 10px 10px 0;
}